[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = git@github.com:gurusabarish/hugo-profile.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:halogenica/beautifulhugo.git
